# External services
# ===========
Google__ClientId=<placeholder-value.apps.googleusercontent.com>

# AI chatting
# ===========
AiChat__Provider=Gemini
Gemini__ApiKey=<AIzaSy.placeholder-value>
Anthropic__ApiKey=<placeholder-value>

# Redis
# =========== 
ConnectionStrings__Redis=<placeholder-value>

# SMTP
# ===========
Smtp__Host=smtp.gmail.com
Smtp__Port=587
Smtp__Username=learnix.app.noreply@gmail.com
Smtp__Password=<16-digits-placeholder-value>
Smtp__SenderEmail=learnix.noreply@gmail.com
Smtp__SenderName=Learnix
Smtp__EnableSsl=true
